@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;

  --amber-100: #fef3c7;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --slate-300: #cbd5e1;
  --slate-500: #64748b;
  --slate-700: #334155;
  --transparent: rgb(255, 255, 255, 0.2);

  background: linear-gradient(
    -45deg,
    var(--slate-300),
    var(--slate-700),
    var(--slate-500),
    black
  );
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Page wrapper styles. */

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr 0.5fr;
}

/* Header and footer styles. */

header,
footer {
  background-color: var(--transparent);
  text-align: center;
}

a {
  color: white;
}

header {
  padding: 2rem;
  font-size: 0.8rem;
  font-family: "Playfair Display", serif;
}

footer {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
}

/* App styles. */

.app {
  justify-content: center;
  padding: 3rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/*Card styles. */

.card {
  position: relative;
  background-color: var(--transparent);
  border: 10px solid var(--transparent);
  border-radius: 10px;

  width: 150px;
  height: 200px;
}

.card:hover,
.card:focus {
  border: 10px solid rgba(255, 255, 255, 0.3);
}

.card .front {
  transform: rotateY(90deg);
  transition: ease-in 300ms;
  position: absolute;
}

.card .back {
  transition: ease-in 300ms;
  transition-delay: 200ms;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0ms;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 300ms;
}

.highlighted {
  border: 10px solid var(--amber-100);
}

img {
  width: 150px;
  height: 200px;
}

.card-grid {
  padding: 0 2rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
  place-items: center;
  row-gap: 2rem;
}

/*Game stats styles. */

.turns,
.record {
  background-color: var(--transparent);
}

.turns,
.record,
button {
  padding: 0.3rem 0.5rem;
}

.game-stats {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  background-color: var(--amber-600);
  color: white;
  outline: none;
  border: none;
}

button:focus,
button:hover {
  background-color: var(--amber-500);
}
