* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  box-sizing: border-box;

  --amber-50: #fffbeb;
  --amber-100: #fef3c7;
  --amber-500: #f59e0b;
  --amber-600: #d97706;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --transparent: rgb(255, 255, 255, 0.2);

  height: 100%;
  width: 100%;

  color: white;

  background: linear-gradient(
    -45deg,
    var(--slate-300),
    var(--slate-700),
    var(--slate-500),
    black
  );
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Styles for testing only. */
img {
  width: 150px;
  height: 200px;
}

.card-grid {
  border: 1px solid yellow;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-template-rows: 1fr 1fr;
  place-items: center;
  row-gap: 1rem;
}

header,
footer {
  background-color: var(--transparent);
  padding: 2rem;
  text-align: center;
}

/*Card styles. */

.card {
  position: relative;
  border: 10px solid var(--transparent);
  border-radius: 10px;

  width: 150px;
  height: 200px;
}

.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 200ms;
  position: absolute;
}

.card .back {
  transition: ease-in-out 300ms;
  transition-delay: 200ms;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0ms;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 200ms;
}

.highlighted {
  border: 10px solid var(--amber-100);
}

/* App styles. */

.app {
  justify-content: center;
  padding: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
}
